__pycache__/input_widget.cpython-311.pyc
__pycache__/main_window.cpython-311.pyc
__pycache__/dashboard_widget.cpython-311.pyc
__pycache__/graphing.cpython-311.pyc
__pycache__/stylesheets.cpython-311.pyc
__pycache__/dashapp.cpython-311.pyc
graphing/__pycache__/accuracy.cpython-311.pyc
graphing/__pycache__/survivor.cpython-311.pyc
graphing/__pycache__/kill.cpython-311.pyc
graphing/__pycache__/stratagems.cpython-311.pyc
