
.EOMdashapp-Div--title {
    font-family: monospace;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.EOMdashapp-Div--main-box {
    display: grid;
    grid-template-columns: 66vw 33vw;
    grid-template-rows: 90vh;
}

.EOMdashapp-Div--LeftMiddle-column {
    display: grid;
    grid-template-columns: 66vw;
    grid-template-rows: 30vh 60vh;
}

.EOMdashapp-Div--LMC-Top-row {
    display: grid;
    grid-template-columns: 33vw 33vw;
    grid-template-rows: 30vh;
    border: thin lightgrey solid;
}

.EOMdashapp-Div--Right-column {
    display: grid;
    grid-template-columns: 33vw;
    grid-template-rows: 15vh 75vh;
    border: thin lightgrey solid;
}

.EOMdashapp-Div--gridbox {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 5px;
}