body {
    background-color: #373836; /* metadata.dict_of_colors["light-black"] */
}
/****************************/
/****************************/
/* BELOW IS FOR EOM DASHAPP */
/****************************/
/****************************/
.EOMdashapp-Div--base {
    display: flex;
    flex-direction: column;
}

.EOMdashapp-Div--title {
    background-color: #070707; /* metadata.dict_of_colors["black"] */;
    font-family: sans-serif;
    font-weight: bold;
    color: #F0EFEA; /* metadata.dict_of_colors["white"] */
    font-size: 4em;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.EOMdashapp-Div--main-box {
    display: grid;
    grid-template-columns: 99vw;
    grid-template-rows: 120px 80vh;
}

.EOMdashapp-Div--slider {
    display: grid;
    grid-template-columns: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-rows: 100px;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    align-items: center;
}

.EOMdashapp-Div--graphs-row {
    display: grid;
    grid-template-columns: 66vw 33vw;
    grid-template-rows: 25vh 55vh;
}

.EOMdashapp-Div--LeftMiddle-column {
    display: grid;
    grid-template-columns: 66vw;
    grid-template-rows: 30vh 50vh;
    justify-items: center;
}

.EOMdashapp-Div--LMC-Top-row {
    display: grid;
    grid-template-columns: 30vw 30vw;
    column-gap: 3vw;
    grid-template-rows: 30vh;
}

.EOMdashapp-Div--LMC-Bottom-row {
    background-color: #082844; /* metadata.dict_of_colors["dark-blue"] */
    display: grid;
    grid-template-columns: 63vw;
    grid-template-rows: 45vh 5vh;
}

.EOMdashapp-Div--Right-column {
    display: grid;
    grid-template-columns: 33vw;
    grid-template-rows: 80vh;
}

.EOMdashapp-Div--gridbox {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 5px;
}

.EOMdashapp-Div--dropdown {
    display: grid;
    grid-template-columns: 63vw;
    grid-template-rows: 5vh;
    padding: 5px;
    align-items: top;
    justify-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #F0EFEA; /* metadata.dict_of_colors["white"] */
    background-color: #082844; /* metadata.dict_of_colors["dark-blue"] */
}


/****************************/
/****************************/
/* BELOW IS FOR CAR DASHAPP */
/****************************/
/****************************/
.CARdashapp-Div--base {
    display: flex;
    flex-direction: column;
}

.CARdashapp-Div--title {
    background-color: #070707; /* metadata.dict_of_colors["black"] */;
    font-family: sans-serif;
    font-weight: bold;
    color: #F0EFEA; /* metadata.dict_of_colors["white"] */
    font-size: 4em;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.CARdashapp-Div--main-box {
    display: grid;
    grid-template-columns: 99vw;
    grid-template-rows: 120px 80vh;
}

.CARdashapp-Div--slider {
    display: grid;
    grid-template-columns: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-rows: 100px;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    align-items: center;
}

.CARdashapp-Div--graphs-row {
    display: grid;
    grid-template-columns: 99vw;
    grid-template-rows: 32vh 48vh;
    justify-items: center;
}

.CARdashapp-Div--Top-row {
    display: grid;
    grid-template-columns: 21vw 21vw 21vw 21vw; /* = 84 + 6 = 90 */
    column-gap: 2vw;
    grid-template-rows: 32vh;
    background-color: #070707; /* metadata.dict_of_colors["black"] */;
}

.CARdashapp-Div--3rd-gridbox {
    display: grid;
    grid-template-columns: 20vw;
    grid-template-rows: 16vh 16vh;
    align-items: center;
}

.CARdashapp-Div--4th-gridbox {
    display: grid;
    grid-template-columns: 20vw;
    grid-template-rows: 10vh 10vh 10vh;
    row-gap: 1vh;
    align-items: center;
}

.CARdashapp-Div--Bottom-row {
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 48vh;
}

.CARdashapp-Div--gridbox {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 5px;
    font-family: sans-serif;
    font-weight: bold;
    color: #F0EFEA; /* metadata.dict_of_colors["white"] */
    font-size: 18px;
}

/* Below is for Titles of LED Displays */
label {
    font-size: 18px !important;
}

/*******************************/
/*******************************/
/* BELOW IS FOR (BOTH) DASHAPP */
/*******************************/
/*******************************/
.dashapp-Div--base {
    display: flex;
    flex-direction: column;
}

.dashapp-Div--title {
    background-color: #070707; /* metadata.dict_of_colors["black"] */;
    font-family: sans-serif;
    font-weight: bold;
    color: #F0EFEA; /* metadata.dict_of_colors["white"] */
    font-size: 4em;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.dashapp-Div--main-box {
    display: grid;
    grid-template-columns: 99vw;
    grid-template-rows: 120px 80vh;
}

.dashapp-Div--slider {
    display: grid;
    grid-template-columns: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-rows: 100px;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    align-items: center;
}

.dashapp-Div--graphs-row {
    display: grid;
    grid-template-columns: 99vw;
    grid-template-rows: 32vh 48vh;
    justify-items: center;
}

.dashapp-Div--TopRow {
    display: grid;
    grid-template-columns: 21vw 21vw 21vw 21vw; /* = 84 + 6 = 90 */
    column-gap: 2vw;
    grid-template-rows: 32vh;
    justify-items: center;
}

.dashapp-Div--TopRow-gridbox {
    display: grid;
    grid-template-columns: 21vw;
    grid-template-rows: 32vh;
    padding: 5px;
    font-family: sans-serif;
    font-weight: bold;
    color: #F0EFEA; /* metadata.dict_of_colors["white"] */
    font-size: 18px;
}

.dashapp-Div--BottomRow {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    column-gap: 3vw;
    grid-template-rows: 48vh;
    justify-items: center;
}

.dashapp-Div--MiddleBox {
    display: grid;
    grid-template-columns: 30vw;
    grid-template-rows: 45vh 3vh;
    justify-items: center;
}

.dashapp-Div--gridbox {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 5px;
    font-family: sans-serif;
    font-weight: bold;
    color: #F0EFEA; /* metadata.dict_of_colors["white"] */
    font-size: 18px;
}

.dashapp-Div--dropdown {
    display: grid;
    grid-template-columns: 25vw;
    grid-template-rows: 5vh;
    padding: 5px;
    align-items: top;
    justify-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #F0EFEA; /* metadata.dict_of_colors["white"] */
    background-color: #082844; /* metadata.dict_of_colors["dark-blue"] */
}

/* Below is for Titles of LED Displays */
label {
    font-size: 18px !important;
}

/* Below is CSS for dcc.Slider */

.rc-slider {
    top: 50%;
    height: 30px;
    width: auto;
}

.rc-slider .rc-slider-rail{
    height: 15px;
    background-color: #64615F; /* metadata.dict_of_colors["light-black"] */
}

.rc-slider .rc-slider-track{
    top: 21.5%;
    height: 12px;
    width: auto;
    background-color: #F0EFEA; /* metadata.dict_of_colors["white"] */
}

.rc-slider .rc-slider-step{
    top: 21.5%;
    height: 15px;
}

.rc-slider .rc-slider-dot{
    width: 25px;
    height: 25px;
    border-color: #64615F; /* metadata.dict_of_colors["light-black"] */
}

.rc-slider .rc-slider-dot-active{
    width: 25px;
    height: 25px;
    border-color: #64615F; /* metadata.dict_of_colors["light-black"] */
}

.rc-slider .rc-slider-handle{
    top: 7%;
    width: 30px;
    height: 30px;
    background-color: #685E1F; /* metadata.dict_of_colors["dark-yellow"] */
    border-color: #F0EFEA; /* metadata.dict_of_colors["white"] */
    transform: translateX(-5px) !important;
}

.rc-slider .rc-slider-mark {
    top: 30px;
}

.rc-slider-mark-text {
    font-size: 18px;
    color: #F0EFEA; /* metadata.dict_of_colors["white"] */
    font-family: monospace;
}

/* below is for dcc.Dropdown */

.dash-dropdown {
    color: #F0EFEA; /* metadata.dict_of_colors["white"] */
    width: 30vw;
}

.Select-control {
    background-color: #070707; /* metadata.dict_of_colors["black"] */
    color: #F0EFEA; /* metadata.dict_of_colors["white"] */    
}

.Select-control .Select-value {
    background-color: #070707; /* metadata.dict_of_colors["black"] */
    color: #F0EFEA; /* metadata.dict_of_colors["white"] */    
}

.Select-control .Select-value .Select-value-label {
    background-color: #070707; /* metadata.dict_of_colors["black"] */
    color: #F0EFEA !important; /* metadata.dict_of_colors["white"] */    
}

.Select-menu-outer {
    background-color: #070707; /* metadata.dict_of_colors["black"] */
    color: #F0EFEA; /* metadata.dict_of_colors["white"] */    
}